head:before {
    position: fixed;
    bottom: 3rem;
    left: 1em
}

.BreakableTiles-item {
    width: 50%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem
}

.public-simple-nav-layout .social-links, .public-simple-nav-layout .footer-column, .public-simple-nav-layout .newsletter-column, .public-simple-nav-layout .footer-legal-content, .footer-for-small .social-links, .footer-for-small .footer-column, .footer-for-small .newsletter-column, .footer-for-small .footer-legal-content {
    width: 100%;
    float: left;
    padding-left: 0.625rem;
    padding-right: 0.625rem
}

@media (min-width: 600px) {
    .fluid-grid .grid-container-wrapper {
        width: 92%
    }
}

@media (min-width: 950px) {
    .grid-container-wrapper, .fluid-grid .grid-container-wrapper {
        width: 90%
    }

    .fixed-grid .grid-container-wrapper {
        width: 960px
    }
}

.CaseStudyContainer {
    width: 33.33333%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.locations-list li {
    width: 50%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.CaseStudyPerson-title {
    width: 83.33333%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.fluid-grid .Pagination, .fluid-grid .right-for-you-graph .right-for-you-image, .CaseStudyPerson-quote, .fluid-grid .heading_with_back_link, .fluid-grid .results-label, .fluid-grid .recently-closed .section-title {
    width: 100%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.CaseStudyPerson-title {
    margin-left: 8.33333%
}

@media (min-width: 701px) {
    .fluid-grid .show-for-medium-700-only, #seedrs .fluid-grid .show-for-medium-700-only, .fluid-grid .show-for-medium-700-only.show-for-medium-only, #seedrs .fluid-grid .show-for-medium-700-only.show-for-medium-only {
        display: block
    }

    .fluid-grid .show-for-medium-700-only.is-inline, #seedrs .fluid-grid .show-for-medium-700-only.is-inline, .fluid-grid .show-for-medium-700-only.show-for-medium-only.is-inline, #seedrs .fluid-grid .show-for-medium-700-only.show-for-medium-only.is-inline {
        display: inline
    }

    .fluid-grid .show-for-medium-700-only.is-inline-block, #seedrs .fluid-grid .show-for-medium-700-only.is-inline-block, .fluid-grid .show-for-medium-700-only.show-for-medium-only.is-inline-block, #seedrs .fluid-grid .show-for-medium-700-only.show-for-medium-only.is-inline-block {
        display: inline-block
    }

    .campaign_landing_page_venrex_fuel hr {
        display: none
    }
}

.fluid-grid .show-for-large-only, #seedrs .fluid-grid .show-for-large-only, .fluid-grid .show-for-small-only, #seedrs .fluid-grid .show-for-small-only, .fluid-grid .show-for-small-500-only, #seedrs .fluid-grid .show-for-small-500-only {
    display: none
}

.fluid-grid .show-for-medium-only, #seedrs .fluid-grid .show-for-medium-only {
    display: block
}

.fluid-grid .show-for-medium-only.is-inline, #seedrs .fluid-grid .show-for-medium-only.is-inline {
    display: inline
}

.fluid-grid .show-for-medium-only.is-inline-block, #seedrs .fluid-grid .show-for-medium-only.is-inline-block {
    display: inline-block
}

.fluid-grid .show-for-medium-700-only, #seedrs .fluid-grid .show-for-medium-700-only {
    display: none
}

.fluid-grid .Hero {
    background-position: 50% top
}

.fluid-grid .Hero.Hero--withCaption.b-loaded::before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(76, 76, 76, 0) 70%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(76, 76, 76, 0) 70%, rgba(0, 0, 0, 0.75) 100%)
}

.fluid-grid .Hero-content {
    width: 100%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.fluid-grid .Pagination {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    text-align: left
}

@media (max-width: 700px) {
    .fluid-grid .CaseStudyContainer {
        width: 50%;
        float: left;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem
    }

    .campaign-landing-page-double-container {
        width: 100%;
        float: left;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem
    }

    .campaign-landing-page-double-container.first {
        margin-bottom: 40px;
        margin-bottom: 2.5rem
    }
}

.fluid-grid .call-to-action .invest {
    padding-right: 15px;
    padding-right: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem
}

.fluid-grid .call-to-action .raise {
    padding-right: 15px;
    padding-right: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem
}

.fluid-grid .selling-points .text-list-title {
    text-align: left
}

.fluid-grid .selling-point {
    width: 50%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-left: 15px;
    padding-left: 0.9375rem;
    padding-right: 15px;
    padding-right: 0.9375rem
}

.fluid-grid .selling-point:nth-child(2n+1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both
}

.fluid-grid .selling-point:nth-child(2n+2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none
}

.fluid-grid .selling-point:nth-child(7), .fluid-grid .selling-point:nth-child(8) {
    margin-bottom: 40px;
    margin-bottom: 2.5rem
}

.fluid-grid .selling-point:nth-child(9) {
    margin-bottom: 0
}

.fluid-grid .testimonial {
    width: 50%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.fluid-grid .testimonial .testimonial-quote {
    font-size: 18px;
    font-size: 1.125rem
}

.fluid-grid .press-item, .fluid-grid .trusted-by-logo {
    width: 33.33333%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem
}

.fluid-grid .press-item:nth-child(3n+1), .fluid-grid .trusted-by-logo:nth-child(3n+1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both
}

.fluid-grid .press-item:nth-child(3n+2), .fluid-grid .trusted-by-logo:nth-child(3n+2) {
    margin-left: 33.33333%;
    margin-right: -100%;
    clear: none
}

.fluid-grid .press-item:nth-child(3n+3), .fluid-grid .trusted-by-logo:nth-child(3n+3) {
    margin-left: 66.66667%;
    margin-right: -100%;
    clear: none
}

.fluid-grid .press-items :nth-last-child(1), .fluid-grid .press-items :nth-last-child(2), .fluid-grid .press-items :nth-last-child(3), .fluid-grid .trusted-by-logos :nth-last-child(1), .fluid-grid .trusted-by-logos :nth-last-child(2), .fluid-grid .trusted-by-logos :nth-last-child(3) {
    margin-bottom: 0
}

.fluid-grid.landing-page-layout .Hero-content-container {
    padding-top: 20%;
    padding-bottom: 20%
}

.fluid-grid .about-press .Card-content {
    font-size: 16px;
    font-size: 1rem;
    padding: 22.4px;
    padding: 1.4rem
}

.fluid-grid .about-press .about-press-quote {
    min-height: 144px;
    min-height: 9rem
}

.fluid-grid .about-press-item {
    width: 46%;
    min-width: 46%
}

.fluid-grid .about-page-mission-text {
    width: 83.33333%;
    float: left;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-left: 8.33333%
}

.fluid-grid .how-to-invest-types-of-investments .info-item {
    padding: 0 0.5em
}

.fluid-grid .right-for-you-graph .right-for-you-image {
    float: none
}

.fluid-grid .right-for-you-graph .graph-text-1 {
    text-align: left
}

.fluid-grid .right-for-you-graph .graph-text-3 {
    text-align: right
}

.locations-list {
    text-align: center;
    font-size: 0
}

.locations-list li {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
    float: none;
    display: inline-block;
    vertical-align: top
}

.CaseStudyContainer:nth-of-type(2) .CaseStudy {
    border-right-width: 1px
}

.CaseStudyContainer:nth-of-type(2) .CaseStudy-cover {
    margin-right: -1px
}

.CaseStudyContainer:nth-of-type(3) .CaseStudy, .CaseStudyContainer:nth-of-type(3) .CaseStudy-cover {
    border-right-width: 0;
    margin-right: 0
}

.qa-description {
    font-size: 14px;
    font-size: 0.875rem
}

.qa-step + .qa-step:before {
    display: none
}

@media (min-width: 700px) {
    .qa-title span {
        display: block
    }
}

.fluid-grid .public-simple-nav-layout, .fluid-grid .footer-for-small {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto
}

.fluid-grid .public-simple-nav-layout:after, .fluid-grid .footer-for-small:after {
    content: " ";
    display: block;
    clear: both
}

@media (min-width: 600px) {
    .fluid-grid .public-simple-nav-layout, .fluid-grid .footer-for-small {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto
    }

    .fluid-grid .public-simple-nav-layout:after, .fluid-grid .footer-for-small:after {
        content: " ";
        display: block;
        clear: both
    }
}

.fixed-grid .public-simple-nav-layout, .fixed-grid .footer-for-small {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto
}

.fixed-grid .public-simple-nav-layout:after, .fixed-grid .footer-for-small:after {
    content: " ";
    display: block;
    clear: both
}

.public-simple-nav-layout .social-links, .footer-for-small .social-links {
    text-align: center
}

.public-simple-nav-layout .social-links a, .footer-for-small .social-links a {
    margin-right: 1rem
}

.public-simple-nav-layout .Button--submittableInput, .footer-for-small .Button--submittableInput {
    width: 100%
}

.public-simple-nav-layout .footer-legal-content img, .footer-for-small .footer-legal-content img {
    margin-bottom: 32px;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.site-footer {
    padding-top: 40px;
    padding-top: 2.5rem
}

.site-footer ul li {
    padding-bottom: 0
}

.site-footer .disclaimer {
    margin-bottom: 20px;
    margin-bottom: 1.25rem
}

.flexbox .BreakableTiles {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.BreakableTiles-item {
    padding-top: 40px;
    padding-top: 2.5rem;
    padding-bottom: 40px;
    padding-bottom: 2.5rem;
    float: none
}

.Statistic + .Statistic:after {
    display: none
}

.CaseStudyPerson-title {
    float: none
}

.CaseStudyPerson-quote {
    float: none
}

@media (min-width: 700px) and (max-width: 750px) {
    .raise-case-studies-people .CaseStudyContainer {
        width: 50%;
        float: left;
        padding-left: 0.625rem;
        padding-right: 0.625rem
    }
}

.fluid-grid .recently-closed .list-campaigns > li + li + li {
    display: none
}

.fluid-grid .heading_with_back_link, .fluid-grid .results-label, .fluid-grid .recently-closed .section-title {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem
}

.fluid-grid .list-campaigns > li {
    margin-bottom: 1.875rem
}

.fluid-grid .campaigns-tools {
    max-width: 50%
}

.fluid-grid .section-title-container {
    padding-bottom: 16px;
    padding-bottom: 1rem;
    display: block;
    padding-right: 0;
    margin-right: 0;
    border-bottom: 1px solid #d2d5d7
}

html > .development:before {
    background: #000;
    background: rgba(0, 0, 0, 0.2);
    content: "M";
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5em;
    color: black;
    z-index: 1
}